input[type="text"] {
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 150px;
    transition: background-color 0.3s;
  }
  
  input[type="text"]:focus {
    background-color: #fff;
    border-color: #007bff;
    outline: none;
  }
  